
.barra{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    background-color: var(--foreground);
    padding: 5px 20px;
    font-family: "Titillium Web", serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 50px;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
}

.content :nth-child(2) {
    color: var(--primary);
}

.logo {
    width: 50px;
}